In [18]:
import pandas as pd
import numpy as np
import re
import datetime

bill = pd.read_csv('processed_billboard.csv', encoding= 'unicode_escape')

rank = bill.filter(["id", "date", "rank"]).dropna()
rank = rank.sort_values(by=['id','date']).reset_index(drop=True)
song= bill.filter(["id", "artist.inverted", "track","time"])
song = song.drop_duplicates('id').reset_index(drop=True)

In [19]:
rank.head()

   id        date  rank
0   1  2000-02-26  87.0
1   1  2000-03-04  82.0
2   1  2000-03-11  72.0
3   1  2000-03-18  77.0
4   1  2000-03-25  87.0

In [20]:
song.head()

   id artist.inverted                                              track  time
0   1           2 Pac                Baby Don't Cry (Keep Ya Head Up II)  4:22
1   2         2Ge+her  The Hardest Part Of Breaking Up (Is Getting Ba...  3:15
2   3    3 Doors Down                                              Loser  4:24
3   4    3 Doors Down                                         Kryptonite  3:53
4   5        504 Boyz                                      Wobble Wobble  3:35

In [21]:
rank.to_csv('../Analysis Data Files/rank.csv')
song.to_csv('../Analysis Data Files/song.csv')